.format-content{
    background-image: url(../../assets/wallpaper.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
    padding-top: 5%;
    padding-left: 2%;
}