<ion-header>
  <ion-toolbar>
    <ion-title>cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header >
            <img src="assets/medica.jpg">
        </ion-card-header>
        <ion-card-content>
          Cita N: 12 <br>
          Hora Inicio: 13.00<br>
          Horafin: 14.00<br>
          Estado: Activa
          <ion-button color="danger" size="small">Cancelar Cita</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header >
            <img src="assets/guarderia.jpeg">
        </ion-card-header>
        <ion-card-content>
          Cita N: 13 <br>
          Hora Inicio: 9.00<br>
          Horafin: 14.00<br>
          Estado: Cancelada
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header >
            <img src="assets/domicilio.jpeg">
        </ion-card-header>
        <ion-card-content>
          Cita N: 30 <br>
          Hora Inicio: 7.00<br>
          Horafin: 8.00<br>
          Estado: Cancelada
        </ion-card-content>
    </ion-card>

  <!-- fab placed to the top start -->
  <ion-fab routerLink="/home" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
