<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false">
            <i style="zoom:1.5;" class="fa fa-bars"></i>
        </ion-menu-button>
      </ion-buttons>
      <ion-fab style="margin-top: -7%; margin-left:68%;">
        <ion-fab-button size="small" color="danger" (click)="cerrarSesion()">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </ion-fab-button>
    </ion-fab>
      <ion-fab style="margin-top: -7%; margin-left:50%;">
          <ion-fab-button size="small" color="danger" routerLink="/mascota">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </ion-fab-button>
      </ion-fab>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="format-content">
  <ion-card>
      <ion-card-header>
        <img src="./assets/home.jpeg" alt="">
      </ion-card-header>
    
      <ion-card-content>
        <b>Bienvenido a VeterinariApp.</b> <br>
        Ud. aqui podra ver: <br> - La disponibilidad de nuestros servicios.
        <br> -La citas agendadas.
      </ion-card-content>
    </ion-card>
    </div>
</ion-content>

