<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false">
            <i style="zoom:1.5;" class="fa fa-bars"></i>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Disponibilidad</ion-title>
      <ion-fab style="margin-top: -11%; margin-left:68%;">
        <ion-fab-button size="small" color="danger" (click)="cerrarSesion()">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </ion-fab-button>
    </ion-fab>
      <ion-fab style="margin-top: -11%; margin-left:50%;">
          <ion-fab-button size="small" color="danger" routerLink="/mascota">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </ion-fab-button>
      </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="format-content">
  <ion-item>
      <ion-label>Servicios</ion-label>
      <ion-select value="brown" okText="Ok" cancelText="Cancelar" [(ngModel)]= "idServicio">
        <ion-select-option value="{{servicio.servicioId}}" *ngFor="let servicio of servicios">
          {{servicio.nombre}}
        </ion-select-option>
      
      </ion-select>
    </ion-item>
  <ion-item>
    <ion-label>Fecha servicio</ion-label>
    <ion-label position="floating">MM/DD/YYYY</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" min="2020-06-14" max="2090-12-09" value="2002-09-23T15:03:46.789" [(ngModel)]= "fecha"></ion-datetime>
  </ion-item>
  <ion-button expand="full" color="success" (click)="disponibilidadServicio()" >Consultar Disponibilidad</ion-button>

  <ion-card *ngFor="let disponibilidad of listaDisponibilidades">
    <ion-card-content>
      Disponibilidad ID: {{disponibilidad.disponibilidadid}}<br>
      Recurso Veterinaria ID: {{disponibilidad.rescursoVeterinariaid}}<br>
      Servicio ID: {{disponibilidad.servicioId}}<br>
      <ion-button expand="full" color="primary" (click)="presentAlertConfirm()" >Agendar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab size="small" routerLink="/home" vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button size="small">
      <i class="fa fa-home" aria-hidden="true"></i>
    </ion-fab-button>
  </ion-fab>
</div>

</ion-content>
