.format-content{
    background-image: url(../../assets/wallpaper.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 5%;
    padding-left: 2%;
}
ion-card{
  background-color: white;
}