<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false">
                <i style="zoom:1.5;" class="fa fa-bars"></i>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Mis citas</ion-title>
      <ion-fab style="margin-top: -9%; margin-left:60%;">
          <ion-fab-button size="small" color="danger" routerLink="/mascota">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </ion-fab-button>
      </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="format-content">
    <ion-card *ngFor="let cita of listaCita">
        <ion-card-header >
            <img src={{cita.tipoCita.imagenTipoCita}}>
        </ion-card-header>
        <ion-card-content>
            Cita N: {{cita.numeroCita}} <br>
            Hora Inicio: {{cita.horaInicio}}<br>
            Horafin: {{cita.horaFin}}<br>
            Estado: {{cita.estado}}
            <ion-button color="danger" (click)="presentAlertConfirm()" size="small">Cancelar Cita</ion-button>
        </ion-card-content>
    </ion-card>
    
    <ion-fab size="small" routerLink="/home" vertical="bottom" horizontal="end" slot="fixed">
  
      <ion-fab-button size="small">
          <i class="fa fa-home" aria-hidden="true"></i>
      </ion-fab-button>
    </ion-fab>
</div>
</ion-content>
