<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Carnet - {{this.infoMascota.nombreMascota}}</ion-title>
      <ion-fab style="margin-top: -12%; margin-left:60%;">
          <ion-fab-button size="small" color="danger" routerLink="/mascota">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </ion-fab-button>
      </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="format-content">

    <ion-list>
      <ion-item>
        <ion-label>Pentavalente</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Hexavalente</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- fab placed to the top start -->
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/mascota" size="small">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </ion-fab-button>
    <ion-fab-button routerLink="/home" size="small">
      <i class="fa fa-home" aria-hidden="true"></i>
    </ion-fab-button>
  </ion-fab>
</ion-content>
