<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false">
            <i style="zoom:1.5;" class="fa fa-bars"></i>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Carnet - {{infoMascota.nombre}}</ion-title>
      <ion-fab style="margin-top: -7%; margin-left:60%;">
          <ion-fab-button size="small" color="danger" routerLink="/mascota">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </ion-fab-button>
      </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="format-content">
    <ion-list>
        <ion-item *ngFor="let producto of infoMascota.productos">
          <ion-label>{{producto.producto}}</ion-label>
          <ion-note slot="end">{{producto.fecha}}</ion-note>
        </ion-item>
      </ion-list>
  </div>

  <!-- fab placed to the top start -->
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/mascota" size="small">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </ion-fab-button>
    <ion-fab-button routerLink="/home" size="small">
      <i class="fa fa-home" aria-hidden="true"></i>
    </ion-fab-button>
  </ion-fab>
</ion-content>
