.format-content{
    background-image: url(../../assets/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 200%;
    padding-top: 1%;
}
ion-card{
  background-color: white;
}

.derecha
{
  border-radius: 1px;
  float: right;
}

.izquierda{
  border-radius: 1px;
  float: left;
}