.format-content{
    background-image: url(../../assets/wallpaper.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    border: 2px solid red;
    background-size: cover; 
    height: 100%/*;
    padding-top: 1%;*/
}
img{
    border: 6px solid #ddd;
    border-radius: 4px;
    width: 97%;
    height: 60%;
}
.content-home{
    margin-top: 8%;
    margin-left: 5%;
    width: 90%;
}

ion-item{
    --ion-background-color: ;
 }

.content-input{
    margin-top: 5%;
    margin-left: 5%;
    color: white;
}

.format-letter{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}